.section{
    width: 80%;
    margin: 0 auto;
}
.h1{
    font-size:38px;
    font-weight: 800;
    margin-top: 40px;
    text-align: center;
}
.h1::before{
    content: '';
    width: 25px;
    height: 3px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -12px;
    color: red;
    background: #d73e4d;
    left:50%;
}
.p{
   text-align: center; 
   margin-top: 10px;
   color: gray;
}
.card{
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 90px;
}
.img{
    overflow: hidden;
    position: relative;
}
.member{
    overflow: hidden;
    min-height: 70px;
    width: 72%;
    margin-left: 14%;
    position: relative;
    background: #e6e6e6;
}
.h6{
    text-transform: uppercase;
    margin-top: 20px;
    color: #696f78;
    font-size: 18px;
}
.p2{
    margin-top: 20px;
}